@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {
  min-height: 400px;
}
